node_modules
local_credentials.js
*.txt
package-lock.json
package.json
public/img/archive-super8-Cover-Art.jpg
public/img/Call-To-Arms-Angels.png
public/img/Capture astro.PNG
public/img/Capture.PNG
public/img/fate-of-universe-5.png
public/img/figure mail maysae 2.png
public/img/figure mail maysae.png
public/img/R-9038468-1473697820-5717.jpg
public/img/Untitled(1).png
public/img/Untitled.png
public/img/DSC03192.jpg
public/img/Henri.png
