<%- include('../head') %>
<tr style="background-color: white;">
	<td class="wrapper">
	  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	    <tr>
	      <td>
	        <h1> Commande annulée </h1>
	        <p> Malheureusement, votre commande a été annulée et ne pourra donc pas continuer son processus de livraison. Cela peut-être dû à des information de commande erronées auquel cas un email d'explication vous sera envoyé sous peu, ou bien à une erreur technique. </p>
	        <p> Si vous avez des réclamations concernant cette annulation, vous êtes libre de nous écrire sur notre page contact afin que nous puissions vous aider au mieux. </p>
	        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
	          <tbody>
	            <tr>
	              <td align="center">
	                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	                  <tbody>
	                    <tr>
	                      <td> <a href="https://strangeday.fr/contact" target="_blank">Page de contact</a> </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </td>
	    </tr>
	  </table>
	</td>
</tr>
<%- include('../foot') %>