
<div class="mb-5"> 
	<span href="#" class="link-title p-2 pl-4">
		Mon espace client
	</span>
</div>

<div class="m-4">
    <%= session.username %>, ceci est votre espace client. Modifiez vos informations entrées à l'inscription en cliquant sur les onglets correspondants.
</div>

<script type="text/javascript">
</script>