<form action="/edit-password" method="post" class="">
	<div class="mb-5"> 
		<span href="#" class="link-title p-2 pl-4">
			Modification du mot de passe
		</span>
	</div>

	<div class="m-2 my-4 account-input row">
	    <input type="password" placeholder="Ancien mot de passe" class="form-control col-md-5 col" name="old-password">
	    <div class="invalid-feedback">Le mot de passe est incorrect</div>
	</div>

	<div class="m-2 my-4 account-input row">
	    <input type="password" placeholder="Nouveau mot de passe" class="form-control col-md-5 col" name="new-password">
	    <div class="invalid-feedback">Veuillez rentrer un mot de passe valide</div>
	</div>

	<div class="m-2 my-4 account-input row">
	    <input type="password" placeholder="Répetez le mot de passe" class="form-control col-md-5 col" name="repeat-password">
	    <div class="invalid-feedback">Les mots de passe ne correspondent pas</div>
	</div>

	<div class="m-2 my-4 account-input row">
		<button type="submit" class="btn btn-cart mt-3" data-dismiss="">Confirmer</button>
	</div>
</form>

<script type="text/javascript">
    /* Erreur à afficher pour le login */
    $('form[action="/edit-password"]').submit(function () {
    	var oldPasswordInput = $('.account-input input[name="old-password"]');
        var newPasswordInput = $('.account-input input[name="new-password"]');
        var repeatPasswordInput = $('.account-input input[name="repeat-password"]');

        // On check les erreurs et on ajoute la classe en consequant
        if (!oldPasswordInput.val()) {
            oldPasswordInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else {
            oldPasswordInput.removeClass('is-invalid').addClass('is-valid');
        }
        if (!newPasswordInput.val()) {
            newPasswordInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else {
            newPasswordInput.removeClass('is-invalid').addClass('is-valid');
        }
        if (!repeatPasswordInput.val()) {
            repeatPasswordInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else if (repeatPasswordInput.val() != newPasswordInput.val()) {
            repeatPasswordInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else {
        	repeatPasswordInput.removeClass('is-invalid').addClass('is-valid');
        }

        $.post("/edit-password", {
            oldPassword: oldPasswordInput.val(),
            newPassword: newPasswordInput.val(),
        })
        .done( function (data) {
            if (data == "badPassword") {
                oldPasswordInput.removeClass('is-valid').addClass('is-invalid'); // mauvais mdp
                $('header').append(
                	`<div class="notif-container row w-100 justify-content-center">
			            <div class="alert alert-danger alert-dismissible fade show col-8" role="alert">
			                <strong>Erreur !</strong> Le mot de passe est invalide ...
			                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="w-100"></div>
			        </div>`
            	)
            }
            else {
                location.reload();
            }
        });

        return false; // on execute pas le submit normal
         
    });
</script>
