<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h2>FAQ</h2>
            </div>
            <div class="container faq">
                <h3 class="mt-3"> Les paiements sont-ils sécurisés ?</h3>
                <p> Le site ne gère pas les paiements lui même, nous passons par des plateformes dediées, Stripes et Paypal, qui sont toutes les deux des plateformes <b>reconnues et sécurisées.</b></p>
                <p> À aucun moment vos informations bancaires ne sont enregistré sur le site et seules vos données de clients (adresse et email) sont transmises au plateformes dédiées.
                </p>
                <h3  class="mt-3"> Comment se passe la livraison et quels sont les délais ? </h3>
                <p> Tous nos produits sont réalisés à la commande et peuvent donc mettre un certains temps à arriver. Il faut compter <b>2 à 3 semaines avant réception</b>. Pour la livraison, nous passons par Colissimo, ce qui vous permet de suivre l'avancée de votre colis via un numéro de suivi (communiqué par email).</p>
                <p>Pour les personnes vivant à Plaisir (78370) ; Elancourt (78990) ; Les Clayes-sous-Bois (78340), <b>la livraison est gratuite !</b></p>
                <h3 class="mt-3"> Comment sont réalisés les impressions des vêtements et comment les entretenir ?</h3>
                <p> Nous réalisons toutes nos impressions par sérigraphie. Ils doivent être laver <b>à l'envers sous 30°C</b> et ne doivent <b>pas être passé au sèche-linge</b>. </p>
                <h3 class="mt-3"> Comment se passe le remboursement ou l'échange d'un produit ?</h3>
                <p> Pas satisfait ? Si vous voulez changer la taille de votre produit ou vous faire rembourser, vous avez <b>7 jours</b> à compter de sa réception pour nous signaler votre volonté de remboursement via la page "Contact". </p>
                <p> Si vous souhaitez echanger un produit, vous devez nous le renvoyer dans leur <b>état d'origine</b> permettant leur recommercialisation si besoin, les frais de retour étant à votre charge. Un nouveau produit vous sera envoyé dans un délais de <b>14 jours</b>, à compter de sa reception.</p>
                <p> Si vous souhaitez simplement être remboursé, une fois la demande vérifiée et validée, nous auront 7 jours pour effectuer la transaction.</p> 
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>
</html>