<link rel="stylesheet" type="text/css" href="/css/style-footer.css">
<div class="w-100 divider"></div>
<div class="media text-center container">
	<div class="icon col mb-3 mt-4">
	    <a class="media-link"  href="https://instagram.com/ydogbe" target="_blank"><i class="fab fa-instagram"></i></a>
	    <a class="media-link mx-4" href="https://twitter.com/ydogbe_"><i class="fab fa-twitter" target="_blank"></i></a>
	    <a class="media-link" href="/contact"><i class="far fa-envelope"></i></a>
	</div>
</div>
<div class="legal text-center">
    <a class="legal-link" href="/cgu.pdf" target="_blank">Conditions d'utilisation</a>
    <a class="legal-link" href="/mention_legal.pdf" target="_blank">Mentions légales</a>
    <a class="legal-link" href="/cgv.pdf" target="_blank">Conditions générales de vente</a>
</div>
<div class="text-center my-3">
    <i class="payment-logo fab fa-cc-visa"></i>
    <i class="payment-logo fab fa-cc-mastercard"></i>
    <i class="payment-logo fab fa-cc-amex"></i>
    <i class="payment-logo fab fa-cc-paypal"></i>
</div>
<div class="text-center mt-4 mx-3" id="author">
	 <a href="https://instagram.com/armel_rxl" target="_blank"> Copyright 2021 © Strange Day store by <span> Armel Rouxel</span></a>
</div>

<!-- Import Font Awesome -->
<script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>