<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-subscribe.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>

        <main class="py-5 mt-3">
            <form class="mt-5" action="/reset-password" method="post">
                <div class="container login-infos col-md-5 px-4">
                    <span class="title"> Générer un nouveau mot de passe </span>
                    <p style="text-transform: none;"> Si vous ne vous souvenez plus de votre mot de passe pas de panique ! Inscrivez l'<b>email affilié à votre compte</b> ci-dessous et nous vous enverrons un mail contenant le <b>mot de passe provisoire</b>.</p>
                    <i style="text-transform: none;"> Modifiez-le le plus vite possible après reception de l'email !</i>
                    <div class="mt-4 form-group form-row">
                        <input type="text" placeholder="Adresse email" class="form-control" name="email">
                        <div class="invalid-feedback">Veuillez rentrer une adresse email valide</div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-cart col" data-dismiss="">Envoyer email</button>
                    </div>
                </div>
            </form>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        /* Erreur à afficher pour le login */
        $('main form[action="/reset-password"]').submit(function () {
            let emailInput = $('.login-infos input[type="text"]');
            let regexEmail = new RegExp(`[\\w.+-]{1,64}@([a-zA-Z\\d-]{2,252}\\.[\\w\\.]{2,6})`);

            // On check les erreurs et on ajoute la classe en consequant
            if (!emailInput.val()) {
                emailInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else if (!emailInput.val().match(regexEmail)) {
                emailInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                emailInput.removeClass('is-invalid').addClass('is-valid');
            }

            //return false; // on n'execute pas le submit normal
        });
    </script>
</html>