<div class="d-flex disclaimer w-100 align-items-center justify-content-center px-2" >
	<i class="fas fa-gift"></i>
	<div class="disclaimer-text mx-2">
		<span> Toutes les commandes passées avant le 10 décembre arriveront avant Noël !
		</span>
	</div>
	<i class="fas fa-gift"></i>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		var text = $('.disclaimer-text span')
		if ((text.width() - $('.disclaimer-text').width()) >1) {
			var scroll = 1.1*(text.width() - $('.disclaimer-text').width());
			function loop () {
				text.css({left:0});
				setTimeout(function() {
					text.animate({left: `-${scroll}px`}, 7000, function () { 
						setTimeout(function() {loop()}, 1000) 
					});
				}, 1000);

			}
			loop();
		}
	});
</script>