<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h2>Qui sommes-nous ?</h2>
            </div>
            <div class="container desc">
                Strange Day c'est une communauté, une bande, un espace cool, un groupe de rock indie. C'est une sorte de grande famille basée sur la création, la débrouillardise et l'entraide. Le but de ce projet, c'est de pousser les gens à créer à leur tour, à se démarquer, à tenter des choses.<br/>
                Strange Day, c'est accessoirement des vêtements cools sérigraphiés à la main et en France. Les vêtements sont réalisés à la commande et peuvent donc mettre un certain temps à arriver.<br/>
                <br/>
                Pour résumer, Strange Day c'est un label de vêtement pour les gens qui portent des Converses sales, qui écoutent Mac Dermarco sur vinyle et qui prennent des polaroïds en soirée.
            </div>
            <div class="head-title mt-5">
                <h2>L'équipe</h2>
            </div>
            <div class="container staff-list">
                <div class="staff col-md-4 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/kezako3.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name">
                            <a class="link" href="https://instagram.com/ydogbe" target="_blank">Yoann</a>
                        </span>
                    </div>
                </div>
                <div class="staff col-md-4 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/Armel.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name"><a class="link" href="https://instagram.com/armel_rxl" target="_blank">Armel</a></span>
                        
                    </div>
                </div>
                <div class="staff col-md-4 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/Alexandrine.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name">
                            <a class="link" href="https://instagram.com/alexandrinesnd" target="_blank">Alexandrine</a>
                        </span>
                        
                    </div>
                </div>                
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>
</html>