<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h2>Manifeste</h2>
            </div>
            <div class="container desc">
                <b>STRANGE DAY</b> est une maison de vêtements indépendante fondée en 2021.<br/>
                <br/>
                La marque tire son inspiration de la question du souvenir, du passé, de la nostalgie.
                Nous cherchons à créer des souvenirs, à les assembler, les mettre en relations, afin d'écrire de nouvelles histoires.<br/>
                <br/>
                Au-delà de ça, nous nous inspirons du cinéma, de la musique, de la photographie et de la peinture pour créer notre propre univers.<br/>
                <br/>
                Dans le bruit permanent que produit aujourd'hui la création de vêtements, notamment sur les réseaux sociaux, nous décidons d'aller à contre-courant. Nous revendiquons une estétique volontairement sobre, minimaliste, brute et épurée, basée sur le bleu désaturé, le gris, le blanc et le sable.<br/>
                <br/>
                Tous nos vêtements sont nommés, numérotés et référencés en fonction de leur gamme. Ils sont pour la plupart confectionnés ou retravaillés à la main. Nous travaillons spécifiquement la technique du patchwork et des empiècements, comme autant de souvenirs différents assemblés et mis en relation.<br/>
                <br/>
                En définitif <b>STRANGE DAY</b> pourrait être défini par la phrase suivante : <br/>
                <br/>
                <b>« C'était juste un puzzle de mots et de pensées »</b> <br/>
                Booba, <i>Repose en paix</i>, 2001
            </div>
<!--             <div class="head-title mt-5">
                <h2>L'équipe</h2>
            </div>
            <div class="container staff-list">
                <div class="staff col-md-3 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/kezako3.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name">
                            <a class="link" href="https://instagram.com/ydogbe" target="_blank">Yoann</a>
                        </span>
                    </div>
                </div>
                <div class="staff col-md-3 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/Armel.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name"><a class="link" href="https://instagram.com/armel_rxl" target="_blank">Armel</a></span>
                        
                    </div>
                </div>
                <div class="staff col-md-3 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/Alexandrine.jpg">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name">
                            <a class="link" href="https://instagram.com/alexandrinesnd" target="_blank">Alexandrine</a>
                        </span>
                        
                    </div>
                </div>  
                <div class="staff col-md-3 p-5">
                    <div class="staff-img text-center">
                        <img class="w-100" src="/img/Cailliou.png">
                    </div>
                    <div class="staff-name p-2 text-center">
                        <span class="name">
                            <a class="link" href="https://instagram.com/cailliou" target="_blank">Camille</a>
                        </span>
                        
                    </div>
                </div>                
            </div> -->
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>
</html>