<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h1>Lookbook</h1>
            </div>
            <div class="lookbook-content">
                <!--<div class="tab mb-3">
                    <ul class="tab-switch list-inline">
                        <li class="list-inline-item active" target="photomaton">
                            Capsule Photomaton                          
                        </li>
                    </ul>
                </div>-->
                <div class="container desc mb-5">
                    Les photomatons sont des objets fascinant. Ils sont à la fois extrêmement rétro et totalement dans l'air du temps. Ils peuvent à la fois servir pour des documents officiels ou simplement pour immortaliser un moment entre amis. C'est tout ça qui nous a donné envie de dédier la première capsule de vêtements Strange Day aux photomatons. En effet, l'ADN même de Strange Day est d'utiliser des éléments du passé et d'essayer de les remettre au goût du jour et de les réinterpréter à notre manière. <br/>
                    <br/>
                    Toutes les photos ont été prises par Alexandrine Shenouda (<a href="https://instagram.com/alexandrinesnd" target="_blank">@alexandrinesnd</a>) à Fotoautomat, au 53 rue des Trois Frères, 75018, Paris.<br/>
                    <br/>
                    Merci à Joana (<a href="https://instagram.com/jo_rib" target="_blank">@jo_rib</a>) et Macky (<a href="https://instagram.com/macky__________" target="_blank">@macky__________</a>) d'avoir posé pour cette capsule.
                </div>
                <div class="lookbook-gallery d-flex" id="photomaton">
                    <% for (image of photomaton) { %>
                        <div class="lookbook-img col-md-4 p-0">
                            <img class="w-100" src="/img/lookbook/photomaton/<%= image %>">
                        </div>
                    <% } %>

                </div>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        // on switch de panneau
        $("ul.tab-switch li").click(function() {
            $("ul.tab-switch li").removeClass("active");
            $(this).addClass("active");

            var pannel = $(this).attr("target");
            $("div.tab ~ .lookbook-gallery").removeClass("d-flex");
            $(`.lookbook-gallery#${pannel}`).addClass("d-flex");
        });
    </script>
</html>