<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h1>Lookbook</h1>
            </div>
            <div class="lookbook-content">
                <div class="tab mb-3">
                    <ul class="tab-switch list-inline">
                        <li class="list-inline-item active" target="collection1">
                            Collection 1                           
                        </li>
                        <li class="list-inline-item" target="collection2">
                            Collection 2
                        </li>
                    </ul>
                </div>
                <div class="lookbook-gallery d-flex" id="collection1">
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                </div>
                <div class="lookbook-gallery" id="collection2">
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                    <div class="lookbook-img col-md-4 p-0">
                        <img class="w-100" src="/img/placeholder.png">
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        // on switch de panneau
        $("ul.tab-switch li").click(function() {
            $("ul.tab-switch li").removeClass("active");
            $(this).addClass("active");

            var pannel = $(this).attr("target");
            $("div.tab ~ .lookbook-gallery").removeClass("d-flex");
            $(`.lookbook-gallery#${pannel}`).addClass("d-flex");
        });
    </script>
</html>