.mainpage-content {
	display: flex;
	height: 100vh;
	padding: 5px;
	overflow:hidden;
	justify-content: center;
}
.mainpage-content img {
	max-width:100%;
	object-fit: cover;
}

/* ==================================== */

.hidden-shop {
	opacity: 1;
	transition: 1s;
}

@media (max-width: 768px) { 
	.left-pannel, .right-pannel {
		display:none;
	}
	.logo {
		width:100%;
	}
}