form .title {
	display: inline-block;
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 15px;
}
.subscribe-check, .subscribe-infos, .login-infos {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.subscribe-infos {
		flex-direction: row;
	}
}

.form-check label {
	font-size: 14px;
}
.form-check input, .form-check label {
	cursor: pointer;
}