.mainpage-content {
	display: flex;
	height: 100vh;
	padding: 5px;
	overflow:hidden;
	justify-content: center;
}
.mainpage-content img {
	max-width:100%;
	object-fit: cover;
}
#mainpage-video-container {
	position: relative;
	overflow:  hidden;
	padding: 56.25% 0 0 0; 
}
#mainpage-video-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* ==================================== */

.hidden-shop {
	opacity: 1;
	transition: 1s;
}

@media (max-width: 768px) { 
	#mainpage-video-container {
		padding-top: 84.25%;
	}
	#mainpage-video-content {
		left: -25%;
		width: 150%;
	}
	.left-pannel, .right-pannel {
		display:none;
	}
	.logo {
		width:100%;
	}
}