.product-img img {
	width: 100px;
}

.title {
	display: inline-block;

	font-weight: 700;
	font-size: 17px;
	margin-bottom: 15px;
}

.img-preview img {
	width: 200px;
	margin-right: 10px;
}
.images label.btn:hover {
	cursor: pointer;
}
.images input {
	display:none;
}

.stat-container {
	display: flex;
	text-transform: none;
	flex-direction: column;

	font-size: 20px;
	font-weight: 600;
}

#export {
	cursor: pointer;
	transition: 0.2s;
}
#export:hover {
	color: #f2d875;
}

/* -------- ORDER LIST ----------- */

div.orders-list-content div.tab {
	text-align: center;
}
div.orders-list-content ul.tab-switch {
	text-align: center;
	margin: auto;
	max-width: 700px;
}
div.orders-list-content ul.tab-switch li {
	border-bottom: 5px solid #fff9e7;
	margin: 0;
	width: 30%;	
	height: 50px;
	padding-top: 10px;	
	font-weight: 400;

	cursor: pointer;
	transition: 0.2s;
}
div.orders-list-content ul.tab-switch li:hover {
	border-bottom: 5px solid lightgrey;	
}
div.orders-list-content ul.tab-switch li.active {
	border-bottom: 5px solid black;	
	font-weight: 600;
}
div.orders-list-content div.tab ~ div {
	display: none;
}
div.orders-list-content div.tab ~ div.active {
	display: block;
}