.product-stock .input-group button {
	min-width: 0 !important; 
	border: none; 
}

.product-stock .input-group input {
	padding: 0; 
}

.product-img img {
	width: 100px;
}

.title {
	display: inline-block;

	font-weight: 700;
	font-size: 17px;
	margin-bottom: 15px;
}

.img-preview img {
	width: 200px;
}
.image-container {
	position: relative;
}
.images label.btn:hover {
	cursor: pointer;
}
.images input {
	display:none;
}

.carousel-control-remove {
	z-index: 1;
	opacity: 0.6;
	position: absolute;
	bottom: 0;

	width: 100%;
	text-align: center;
	background-color: grey;
	font-weight: 600;
	font-size: 15px;
	transition: 0.3s;
}
.carousel-control-remove:hover {
	opacity: 0.8;
}
.carousel-control-remove span {
	color:  white;
}
.carousel-control-prev, .carousel-control-next, .carousel-control-remove {
	cursor: pointer;
}

.stat-container {
	display: flex;
	text-transform: none;
	flex-direction: column;

	font-size: 20px;
	font-weight: 600;
}

#export {
	cursor: pointer;
	transition: 0.2s;
}
#export:hover {
	color: #f2d875;
}

#c1 {
	width: 400px;
}
#c2 {
	width: 400px;
}
#c3 {
	width: 400px;
}

/* -------- ORDER LIST ----------- */

div.orders-list-content div.tab {
	text-align: center;
}
div.orders-list-content ul.tab-switch {
	text-align: center;
	margin: auto;
	max-width: 700px;
}
div.orders-list-content ul.tab-switch li {
	border-bottom: 5px solid #fff9e7;
	margin: 0;
	width: 30%;	
	height: 50px;
	padding-top: 10px;	
	font-weight: 400;

	cursor: pointer;
	transition: 0.2s;
}
div.orders-list-content ul.tab-switch li:hover {
	border-bottom: 5px solid lightgrey;	
}
div.orders-list-content ul.tab-switch li.active {
	border-bottom: 5px solid black;	
	font-weight: 600;
}
div.orders-list-content div.tab ~ div {
	display: none;
}
div.orders-list-content div.tab ~ div.active {
	display: block;
}