/* ========================== CLASSES PRINCIPALES ========================= */

.hide {
	display: none;
}

/* ====================== DEFINITION DE LA SKIN DU SITE ==================== */
/* BALISES PRINCIPALES */
@font-face {
	font-family: "Swiss 721";
	src: url('font/swis721_3.ttf') format("truetype");
	font-weight: normal;
    font-style: normal;
}

/* style collec 1 & 2
:root {
	--main-bg: #fff9e7;

	--a: rgb(185, 157, 46);
	--a-hover: rgb(126, 106, 27);

	--button1: rgb(222, 188, 54);
	--button1-hover: rgb(188, 158, 41);
	--button1-active: rgb(154, 129, 33);
	--button1-text: white;

	--button2: rgb(180, 180, 180);
	--button2-hover: rgb(150,150, 150);
	--button2-active: rgb(130, 130, 130);
	--button2-text: white;

	--border-focus: rgb(222, 188, 54);

	--navbar-bg: rgb(242, 216, 117);
	--navbar-text: rgb(0, 0, 0);

	--sticky-bottom: #fff9e7;
} */

/* style collec 3 */
:root {
	--main-bg: white;
	--table-header: #5c73cc;

	--a: rgb(48, 97, 215);
	--a-hover: rgb(29, 59, 130);

	--button1: rgb(78, 130, 255);
	--button1-hover: rgb(48, 97, 215);
	--button1-active: rgb(36, 74, 166);
	--button1-text: white;

	--button2: rgb(180, 180, 180);
	--button2-hover: rgb(150,150, 150);
	--button2-active: rgb(130, 130, 130);
	--button2-text: white;

	--border-focus: rgb(48, 97, 215);

	--navbar-bg: #324075;
	--navbar-text: white;
	--navbar-text-hover: rgb(255, 255, 255, 0.5);

	--modal-header: #324075;
	--modal-body: white;
	--modal-text: white;

	--payout-frame: #f9f9f9;
	--payout-menu: white;
	--payout-form: #e7ecff;

	--sticky-bottom: #ffffff;
}

main {
	position: relative;
	min-height: 90vh;

	background-color: var(--main-bg);
	text-transform: uppercase;
}

a {
	color: var(--a);
}
a:hover {
	color: var(--a-hover);
}

small {
	text-transform: none;
}

/* BOUTONS */
.head-title h1, .head-title h2 {
	text-align: center;
	font-weight: 700;
}

.btn {
	text-transform: uppercase;
	border-radius: 0;
}
.btn:focus {
	box-shadow: none;
}

.btn-cart {
	background-color: var(--button1);
	color: var(--button1-text);
	transition: 0.1s;
}
.btn-cart:hover {
	background-color: var(--button1-hover);
	color: var(--button1-text);
}
.btn-cart:active {
	background-color: var(--button1-active);
}

.btn-log {
	background-color: var(--button2);;
	color: var(--button2-text);
	transition: 0.1s;
}
.btn-log:hover {
	background-color: var(--button2-hover);;
	color: var(--button2-text);
}
.btn-log:active {
	background-color: var(--button2-active);;
}

.custom-select, .form-control {
	border-radius: 0;
}
.custom-select:focus, .form-control:focus {
	box-shadow: none;
	border-color: var(--border-focus);
}

/* DISCLAIMER */
.disclaimer {
	background-color: black;
	height: 50px;
	color: white;

	font-size: 13px;
	text-transform: uppercase;
}
.disclaimer .disclaimer-text {
	display: inline-block; /* important */
  	white-space: nowrap;
  	overflow: hidden;
  	/*text-overflow: ellipsis;*/
}
.disclaimer .disclaimer-text span {
	position: relative;
	left: 0;
}

.disclaimer .fas {
	color: yellow;
}

/* NAVBAR */
.navbar {
	text-transform: uppercase;
	/*font-family: "Swiss 721";*/
    font-weight: 700; /* en attendant de résoudre le problème de police */
	font-size: 16px;
	background-color: var(--navbar-bg);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--navbar-text);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--navbar-text-hover);
}

.navbar.shadow {
	box-shadow: 0 .4rem 1rem rgba(0,0,0,.15) !important;
}

.navbar-brand img {
	height:38px;
}

.navbar-collapse {
	transition: 0.3s;
}

/* ============================ DIVERS ============================ */

/* SHOP DROPDOWN */
@media (max-width: 768px) { 
	#shopDropdownMenuLink + .dropdown-menu, #accountDropdownMenuLink + .dropdown-menu,  #infoDropdownMenuLink + .dropdown-menu{
		background-color: transparent;
		border: none;	
	}
}

li.nav-item {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.modal-content {
	color: var(--modal-text);
	text-transform: uppercase;
	font-weight: 700;
	background-color: var(--modal-header);
}
.modal-body, .modal-footer {
	background-color: var(--modal-body);
}
.modal-footer {
	font-size: 14px;
	font-weight: 600;
	color: grey;
}

/* CART DROPDOWN */
.cart-product img {
	border-radius: 10px;
}
.dropdown-menu {
	font-weight: 400;
	width: 400px;
}
.cart-total-price {
	color: #c12020;
}
.cart-total-title small, .cart-product-name {
	color: grey;
}

/* NOTIF CONTAINER */
.notif-container {
	z-index: 1031;
	top: 70px;
	position: fixed;
}

.sticky-bottom {
	position: sticky !important;
	bottom: 0px;
	z-index: 99;
}