<%- include('../head') %>
<tr style="background-color: white;">
<td class="wrapper">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <h1> Commande envoyée ! </h1>
        <p> Votre commande a été correctement traité et les articles emballés et envoyés avec amour. Elle devrait arriver dans les délais de livraison specifiés par colissimo.  </p>
        <p>Vous pouvez suivre l'avancement du colis par le numero de suivi colissimo suivant: <b><%= track_id %></b></p>
        <p> Si vous avez un trou de mémoire, retrouvez ci dessous le détail de votre commande. </p>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
          <tbody>
            <tr>
              <td align="center">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td> <a href="https://strangeday.fr/order-detail/<%= order_id %>" target="_blank">Détail de la commande</a> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</td>
</tr>
<%- include('../foot') %>