<%- include('../head') %>
<tr style="background-color: white;">
	<td class="wrapper">
	  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	    <tr>
	      <td>
	        <h1> Au revoir ... </h1>
	        <p> Quelque chose ne vous a pas plu ? Revenez nous voir de temps en temps ... </p>
	        <p> Enfin, votre desinscription de Strange Day a bien été pris en compte, nous ne volerons plus vos données personnelles promis !</p>
	        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
	          <tbody>
	            <tr>
	              <td align="center">
	                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
	                  <tbody>
	                    <tr>
	                      <td> <a href="https://strangeday.fr" target="_blank">Revenez nous voir ...</a> </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </td>
	    </tr>
	  </table>
	</td>
</tr>
<%- include('../foot') %>