<%- include('../head') %>
<tr style="background-color: white;">
<td class="wrapper">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <h1> Nous avons généré votre nouveau mot de passe provisoire ! </h1>
        <p> N'hésitez pas à le changer dès que possible, celui-ci n'étant pas très sécurisé et n'ayant pas pour but de sécuriser votre compte à l'avenir</p>
        <p> Mot de passe provisoire: <b><%= mdp %></p>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
          <tbody>
            <tr>
              <td align="center">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td> <a href="https://strangeday.fr" target="_blank">Retourner sur le site</a> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</td>
</tr>
<%- include('../foot') %>