<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../emails/style-email.css">

<body>
    <div class="logo my-3">
        <img src="https://strangeday.fr/img/logoSD.png">
    </div>
    <div class="content px-3 mb-2">
		<h1 class="d-flex justify-content-center"> Bienvenue ! </h1>

		<div class="d-flex justify-content-center mb-4"> 
			<span>Merci <span id="name"><%= name %></span> pour votre inscription ! </span>
		</div>
		<div class="text-content"> 
			<span> N'hésitez pas à parcourir la liste des articles disponibles en espérant que vous trouviez votre bonheur. </span>
		</div>
		<div class="d-flex justify-content-center">
            <a href="https://strangeday.fr" class="w-auto btn btn-cart my-3">
                Visitez notre boutique
            </a>
		</div>
	</div>
</body>