            <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->

            <!-- START FOOTER -->
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                  <a class="media-link" href="https://instagram.com/strangeday.shop" target="_blank"><img src="https://strangeday.fr/aws-insta.svg"></a>
              <a class="media-link" style="margin-left: 15px; margin-right: 15px;" href="https://twitter.com/ydogbe_" target="_blank"><img src="https://strangeday.fr/aws-twitter.svg"></a>
              <a class="media-link" href="https://strangeday.fr" target="_blank"><img src="https://strangeday.fr/aws-link.svg"></a>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                     <a href="https://instagram.com/armel_rxl" target="_blank"> Copyright 2021 © Strange Day store by Armel Rouxel</a>
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>