body {
	background-color: #fff9e7;
}
a {
	color: rgb(185, 157, 46);
}
a:hover {
	color: rgb(126, 106, 27);
}

.text-content {
	text-align: center;
}

.logo {
	display: flex;
	justify-content: center;
	height: 100px;
}

#name, .order-title {
	font-weight: 700;
}
.order-title {
	font-size: 20px;
}

.order-separator {
	border-top: 1px solid lightgrey;
	padding: 10px;
}

.btn {
	text-transform: uppercase;
	border-radius: 0;
}
.btn:focus {
	box-shadow: none;
}

.btn-cart {
	background-color: rgb(222, 188, 54);
	color: white;
	transition: 0.1s;
}
.btn-cart:hover {
	/*box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.3);*/
	background-color: rgb(188, 158, 41);
	color: white;
}
.btn-cart:active {
	background-color: rgb(154, 129, 33);
}
